# Database Configuration
# These are local variables that override the defaults in application-dev.yaml
DB_URL=jdbc:mysql://localhost:3306/mini_food_db?createDatabaseIfNotExist=true
DB_USERNAME=root
DB_PASSWORD=your_password_here

# JWT Configuration
# Make sure it's has at least 32 characters
JWT_SECRET=SomeLongAndVerySecretKey!

# Application Configuration
SPRING_PROFILES_ACTIVE=dev
