# Database Configuration
# These are local variables that override the defaults in application-dev.yaml
DB_URL=jdbc:mysql://localhost:3306/mini_food_db?createDatabaseIfNotExist=true
DB_USERNAME=root
DB_PASSWORD=2142005

# JWT Configuration
# Make sure it has at least 32 characters (256-bit)
JWT_SECRET=ThisIsAVeryLongAndVerySecretJWTkeyForConChoCaoBangBoPeCe

# Application Configuration
SPRING_PROFILES_ACTIVE=dev
